# =============================================================

## # Personal_ Project :

# 재상영(재개봉) 영화 예측

# =============================================================

 ### < Prologue >

2015년부터 복고 열풍이 영화계에도 영향을 끼쳤다. 오랜 고전부터 장르 불문, 연령층 불문하고 영화 재개봉(재상영)의 스크린 수가 늘고있는 상황이다. 
개봉 당시엔 히트치지 않았던 작품이지만, 오랜시간 꾸준한 입소문에 힘입어 속속들이 영화관에서 다시 얼굴을 내밀고 있다. 당시 큰 스크린으로 관람하지 못했던 관람객들에게는 희소식이 아닐 수 없다. (영화를 좋아하는 나도 물론이고:D) 간혹 일부는 오히려 재개봉이 본 개봉 기록을 갈아엎는 경우도 발생하고 있다는데!? 

**여기서 잠깐! **      
 *혹시 재상영 또는 재개봉 영화를 선정하는 기준이 있을까? 지금까지 재상영된 영화들 사이에 특정한 패턴이 숨어있을까? *    
  
 --------------------------------------------------------------------------------------------------------------------------------------
  데이터를 수집하는 과정은 그리 녹록치 않았다.    
  다양한 변수들이 방영에 영향을 미칠 것이라 가정했지만, 변수의 공란을 채워줄 날 것의(?) 데이터조차 찾아내는 것도 쉽지 않았다.    
  일부는 크롤러를 만들어 가동시켰지만,      
  다른 일부는 별점을 모으는 과정에서 한글이름과 영문이름 가릴 것 없이 중복되는 영화들(문장이 아닌 단어 제목!)에 대해 오작동을 일으켜     
  어쩔 수 없이 직접 긁어모을 수밖에 없었다...(T^T) 명절에 방영되었던 영화들 역시 직접 검색을 통해 하나하나 체크하면서 데이터를 완성시켰다!   
  
  그렇게 야금야금, 어마어마한 양을 완성한 데이터테이블을 보고있노라면 괜시리 뿌듯하다.(덩실덩실)
  
  
  기쁨은 잠시 고이 접어두고, 내가 스스로에게 던진 질문에 명쾌한 답변을 얻기 위해 분석을 시작해보자.

 --------------------------------------------------------------------------------------------------------------------------------------
 
### 과연 어떤 영화들을 다시 스크린에서 만날 수 있을까?:D

## Data

- 출처
 - 영화진흥위원회 (http://www.kofic.or.kr/kofic/business/main/main.do)
 - 네이버 영화 (http://movie.naver.com/)
 - 네이버 search (설,추석 명절에 지상파 3사에 방영되었던 영화)

# --------------------------------------------------------------------------------------------------

## 전체 데이터 훑어보기

In [3]:
import pandas as pd

In [4]:
# 데이터 불러오기
df = pd.read_excel('movie_data.xlsx',sheetname = 1)
df.head()

,Name,Code,Genre,Level,RunningTime,Country,Released,Published,Win,WholeAud,SeoulAud,PoSA,NoScreen,NoShow,BoxOffice,TV,Score,Rescreen
0,바람피기 좋은 날,20060421,drama,adult,103,korea,2007-02-08,2007,0,1708979,551815,32.3,1016,39823,1,0,5.77,0
1,운명의 산 낭가 파르밧,20134142,drama,all,104,germany,2013-12-12,2010,0,805,530,65.8,13,64,0,0,7.61,1
2,"색, 계",20070582,drama,adult,157,usa,2007-11-08,2007,0,1924678,735351,38.2,1335,40654,1,0,8.51,1
3,철콘 근크리트,20070394,ani,over15,110,japan,2007-08-02,2006,0,280,280,100.0,4,24,0,0,8.24,1
4,데스노트 : 라스트 네임,20060405,crime,over12,139,japan,2007-01-10,2006,0,563056,147103,26.1,560,14439,0,0,8.27,0

In [5]:
df.shape

(2000, 18)

# =============================================================

# Feature 분석

### \*  ** Target Value** : **'Rescreen'** => 0 or 1

1.  **Name, Code, Released**는 분석과 무관하므로 **Drop!**
2.  **Code**는 release된 시기에 부여되는 숫자인 거 같은데, 개봉순서를 나타내나?      
-> **Published**와 깊은 관계가 있을 것으로 보인다. => 둘 중 하나를 삭제해서 상관관계를 낮추자 ==> **Code 삭제!**
3. 카테고리값인 **Genre**(대표장르)/**level**/**Country**(대표국가)는 **더미 변수**로 바꿔주자!  
4. **Win**(수상여부)/**BoxOffice**(해당년도 50위 이내 여부)는 **1/0**값.

- **PoSA**(서울관객점유율)과 **SeoulAud**(서울관객수)는 너무 자명하게 높은 상관관계를 가진다 ==> SeoulAud 삭제!
- **BoxOffice**와 **WholeAud**와도 깊은 상관관계가 있을 것으로 예상된다 ==> 분석한 후 검토

# =============================================================